<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Contenta/csss")
    <link href="" rel="stylesheet" />
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
        @*<div id="Poptrue" style="display: none;">
                <strong style="color: #ff0000;">@ViewBag.Message</strong>
            </div>
            <div id="PopFalse" style="display: none;">
                <strong style="color:#3db714;"></strong>
            </div>*@
        <div id="div_msg" style="display: none;">
            <strong style="color:#3db714;"></strong>
        </div>
    </div>

    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-inline list-unstyled">
                        <li><a href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))">Home</a></li>
                        <li><a href="javascript:return false;"><i class="fa fa-question-circle"></i> Faqs</a></li>
                        <li><a href="javascript:return false;"><i class="fa fa-dollar"></i> Rates</a></li>
                        <li><a href="javascript:return false;"><i class="fa fa-file-text"></i> About Us</a></li>
                        <li><a href="@Url.Action("Index", "Agreement")"><i class="fa fa-file-text-o"></i> Agreement</a></li>
                        <li><a href="javascript:return false;"><i class="fa fa-tasks"></i> Privacy Policy</a></li>
                        <li><a href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#contact_area"><i class="fa fa-envelope"></i> Contact Us</a></li>
                    </ul>
                    <br>
                    © 2016 4InShip. All Rights Reserved
                </div>
            </div>

        </div>
    </footer>


    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/pgwmodal.min.js"></script>
    <script src="~/Scripts/js_developer.js"></script>

    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/main.js"></script>
    <script type="text/javascript">
        @ViewBag.Message
    </script>
</body>
</html>
